body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  width: 90%;
  max-width: 420px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0,0,0,.08);
}

h1 {
  margin-bottom: 5px;
}

p {
  color: #555;
  margin-bottom: 25px;
}

.menu {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 14px;
  font-size: 20px;
  font-weight: bold;
}

.menu small {
  font-weight: normal;
  font-size: 14px;
}

.chan { background: #213661; }
.vj { background: #16a34a; }
.มหาชัย { background: #2f6f5f; }
.menu:hover {
  opacity: .9;
}
